@import 'theme';

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-container {
  background-color: #ffffff;
  height: 25vh;
  width: 30vw;
  display: flex;
  align-items: end;
  justify-content: center;
}

audio {
  padding: 10px;
}

.overlay-container {
  position: absolute;
  width: 50px;
  height: 50px;
}

.overlay-container.left {
  left: 0;
  top: 50vh;
}

.overlay-container.right {
  right: 0;
  top: 50vh;
}

.buttons {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.transparent-button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.large-button {
  font-size: 18px;
  padding: 16px 32px;
  min-width: 150px;
}

.icon-wrapper {
  padding: 10px;
  cursor: pointer;
}

.icon-wrapper mat-icon {
  color: white; /* Foreground (icon) color */
  font-size: 24px; /* Optional: change size */
}

.landscape {
  width: 100vw;
  height: auto;
}

.portrait {
  height: 100vh;
  width: auto;
}
