<div class="main-container">
  <div>
    <h3 class="title">Catch the yap: creators, chats, and radio</h3>
  </div>

  <div class="player-card">
    <div class="station-info">
      <h2>{{ currentStation?.name ?? currentStation?.user }}</h2>
      <!-- <p class="genre">{{ currentStation?.genre || "Jazz" }}</p> -->
    </div>
    <div>
      <audio #audio controls autoplay loop class="audio-element" [src]="currentStation?.audioPath"></audio>
    </div>

    <div class="controls">
      <button class="circle-button" (click)="previous()">
        <mat-icon>skip_previous</mat-icon>
      </button>

      <button class="circle-button play-button" (click)="togglePlay()">
        <mat-icon>{{ isPlaying ? "pause" : "play_arrow" }}</mat-icon>
      </button>

      <button class="circle-button" (click)="next()">
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>

    <div class="volume-control">
      <mat-icon>volume_up</mat-icon>

      <mat-slider min="0" max="100" step="1">
        <input matSliderThumb [(ngModel)]="volume" #slider (input)="changeVolume($event)" /></mat-slider>
      <span>{{ volume }}</span>
    </div>
  </div>
</div>