@use "./_tokens"; // without the underscore or .scss
/* styles.scss (global) */
html, body { height: 100%; }
body { margin: 0; background: #000; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: #000000;
}