<div class="main-container" *ngIf="isAuthenticated$ | async">
  <div cass="video-container" fxLayout="row" fxLayoutAlign="center center">
    <video #video autoplay playsinline muted></video>
  </div>
  <div class="button-container" xLayout="row" fxLayoutAlign="center" div fxLayout="row" fxLayoutAlign="space-evenly center">
    <button
      class="play icon"
      (click)="resumeWebcam()"
      [disabled]="broadcasting"
    >
      <mat-icon class="transparent">play_arrow</mat-icon>
    </button>
    <button
      class="pause icon"
      (click)="pauseWebcam()"
      [disabled]="!broadcasting"
    >
      <mat-icon class="transparent">pause</mat-icon>
    </button>
    <button class="stop icon" (click)="stopWebcam()">
      <mat-icon class="transparent">stop</mat-icon>
    </button>
    <span
      class="live-indicator"
      [ngClass]="broadcasting ? 'live' : 'offline'"
      aria-live="polite"
    >
      <i class="dot"></i>
      <span class="label">{{ broadcasting ? "LIVE" : "OFFLINE" }}</span>
    </span>
    <button mat-raised-button (click)="fileInput.click()">
      <mat-icon>upload</mat-icon> Upload Video
    </button>
    <input
      type="file"
      accept="video/*"
      #fileInput
      style="display: none"
      (change)="onFileSelected($event)"
    />
  </div>
</div>
