<div class="watch-container" [class.portrait]="isPortrait">
  <!-- <video #player id="watch-player" controls autoplay playsinline loop (loadedmetadata)="onVideoLoaded(player)">
  </video> -->
  <!-- VOD player -->
  <video #player [hidden]="currentItem?.type === 'live'" (loadedmetadata)="onVideoLoaded(player)" playsinline
    controls></video>

  <div #agoraContainer [hidden]="currentItem?.type !== 'live'" class="agora-container"></div>

  <!-- Overlay (fills the container) -->
  <div class="overlay">
    <!-- Top-left title + LIVE chip -->
    <div class="topbar">
      <mat-chip-set>
        <mat-chip *ngIf="currentItem?.type === 'live'" color="warn" selected>LIVE</mat-chip>
      </mat-chip-set>
      <!-- <div class="title">{{ currentItem?.title }}</div> -->
    </div>

    <!-- Side nav buttons -->
    <button class="nav prev" mat-icon-button (click)="previous()" [disabled]="!hasMany" aria-label="Previous">
      <mat-icon>skip_previous</mat-icon>
    </button>

    <button class="nav next" mat-icon-button (click)="next()" [disabled]="!hasMany" aria-label="Next">
      <mat-icon>skip_next</mat-icon>
    </button>

    <button class="profile" mat-icon-button (click)="goToProfile()" aria-label="Profile">
      <mat-icon>arrow_downward</mat-icon>
    </button>

  </div>
</div>