<div class="calls">
  <div class="left">
    <h3>Users</h3>
    <div *ngFor="let u of (users$ | async)">
      <label *ngIf="u.auth0UserId != (user$ | async)?.sub">
        <input type="checkbox" [(ngModel)]="selected[u.auth0UserId]" />
        <span [class.online]="online(u.auth0UserId)">{{u.username}}</span>
      </label>
    </div>
    <div>
      <mat-slide-toggle [(ngModel)]="isVideo">Video call?</mat-slide-toggle>
    </div>
    <button mat-raised-button (click)="callSelected()">Call</button>
  </div>

  <div class="right">
    <div id="local-player" class="tile"></div>
    <div id="remote-container">
      <!-- remote tiles will be played into elements like #remote-<uid> by RtcService -->
    </div>
    <button mat-raised-button (click)="hangup()">Hang up</button>
  </div>
</div>