<div
  class="buttons header-container"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  style="width: 100%"
>
  <div class="icon-wrapper">
    <!-- <a routerLink="/profile"> -->
    <mat-icon (click)="handleProfileClick()" class="transparent icon"
      >person</mat-icon
    >
    <!-- </a> -->
  </div>
  <div>
    <button
      mat-button
      button
      class="transparent button large-button"
      [routerLink]="['/call']"
    >
      call (soon)
    </button>
    <button
      mat-button
      button
      class="transparent button large-button"
      [routerLink]="['/stream']"
    >
      stream
    </button>
    <button
      mat-button
      button
      class="transparent button large-button"
      [routerLink]="['/watch']"
    >
      watch
    </button>
    <!-- <button
      mat-button
      button
      class="transparent button large-button"
      [routerLink]="['/live']"
    >
      live
    </button> -->
    <button
      mat-button
      button
      class="transparent button large-button"
      [routerLink]="['/yap']"
    >
      yap
    </button>
    <button
      mat-button
      button
      class="transparent button large-button"
      [routerLink]="['/listen']"
    >
      listen
    </button>
    <button
      mat-button
      button
      class="transparent button large-button"
      [routerLink]="['/read']"
    >
      read
    </button>
  </div>
  <div class="icon-wrapper">
    <a routerLink=".">
      <mat-icon class="transparent icon">search</mat-icon>
    </a>
  </div>
</div>
<div id="rotate-overlay">📱🔄<br />Please rotate your device</div>
<router-outlet></router-outlet>
