<div
  class="buttons header-container"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  style="width: 100%"
>
  <div class="icon-wrapper">
    <!-- <a routerLink="/profile"> -->
    <mat-icon (click)="handleProfileClick()" class="transparent icon"
      >person</mat-icon
    >
    <!-- </a> -->
  </div>
  <div>
    <button
      mat-button
      button
      class="transparent button large-button"
      [routerLink]="['/calls']"
    >
      Calls
    </button>
    <button
      *ngIf="isAuthenticated$ | async"
      mat-button
      button
      class="transparent button large-button"
      [routerLink]="['/stream']"
    >
      Stream
    </button>
    <button
      mat-button
      button
      class="transparent button large-button"
      [routerLink]="['/watch']"
    >
      Watch
    </button>
    <button
      mat-button
      button
      class="transparent button large-button"
      [routerLink]="['/live']"
    >
      Live
    </button>
    <button
      mat-button
      button
      class="transparent button large-button"
      [routerLink]="['/converse']"
    >
      Converse
    </button>
    <button
      mat-button
      button
      class="transparent button large-button"
      [routerLink]="['/listen']"
    >
      Listen
    </button>
  </div>
  <div class="icon-wrapper">
    <a routerLink=".">
      <mat-icon class="transparent icon">search</mat-icon>
    </a>
  </div>
</div>
<router-outlet></router-outlet>
