@import '../styles/styles';

.buttons {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.transparent-button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: white;
  // padding: 10px 20px;
  cursor: pointer;
}

.large-button {
  font-size: var(--fs-base);
  // padding: 16px 32px;
  padding: 20px;
  // min-width: 150px;
}

.icon-wrapper {
  padding: 10px;
  cursor: pointer;
}

.icon-wrapper mat-icon {
  color: var(--c-primary) !important;
  /* Foreground (icon) color */
  font-size: 24px;
  /* Optional: change size */
}


/* Base: hide overlay */
#rotate-overlay {
  display: none;
}

/* Show overlay ONLY on portrait phones ≤ 768px */
@media (orientation:portrait) and (max-width:768px) {
  #rotate-overlay {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
    padding: 2rem;
  }
}