<div class="main-container">
  <div *ngIf="isUploading" class="upload-overlay">
    <div class="upload-overlay-content">
      <mat-icon class="upload-icon">cloud_upload</mat-icon>
      <p class="upload-message">Uploading video, please wait...</p>
    </div>
  </div>
  <h4>Need help?
    <a href="mailto:him&#64;skriin.com">support&#64;skriin.com</a>
  </h4>
  <div *ngIf="!!userId && showPreviousButton">
    <button gamepadFocusable class="watch-icon" mat-icon-button (click)="goToWatch()">
      <mat-icon>arrow_upward</mat-icon>
    </button>
  </div>
  <div *ngIf="(isAuthenticated$ | async) && !userId">
    <button gamepadFocusable mat-raised-button color="primary" (click)="fileInput.click()">
      <mat-icon>upload</mat-icon> Upload Video
    </button>
    <input type="file" accept="video/*" #fileInput style="display: none" [disabled]="isUploading"
      (change)="onFileSelected($event)" />
  </div>
  <br />
  <h1>Videos</h1>
  <div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="center">
    <div *ngFor="let video of videos">
      <div class="video-item">
        <video [src]="video.processedPath ?? video.videoPath" controls loop class="video-player"></video>
        <mat-icon *ngIf="video.processedPath" class="processed-badge" matTooltip="Processed by Streamline">auto_awesome</mat-icon>
        <button *ngIf="isOwnProfile && (isAuthenticated$ | async)"
                mat-icon-button class="delete-btn"
                (click)="deleteVideo(video)"
                matTooltip="Delete video">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>