<div class="main-container">
  <div *ngIf="(isAuthenticated$ | async) && !userId">
    <button mat-raised-button color="primary" (click)="fileInput.click()">
      <mat-icon>upload</mat-icon> Upload Video
    </button>
    <input
      type="file"
      accept="video/*"
      #fileInput
      style="display: none"
      (change)="onFileSelected($event)"
    />
  </div>
  <br/>
  <h1>Videos</h1>
  <div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="center">
    <div *ngFor="let video of videos">
      <div class="video-item">
        <video
          [src]="video.videoPath"
          controls
          autoplay
          class="video-player"
        ></video>
      </div>
    </div>
  </div>
</div>
