@import 'tokens';

:host {
    // padding-top: var(--app-bar-height)
}
.main-container {
    padding-top: var(--app-bar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(c-on-surface);
}

.video-player {
    padding-top: var(--app-bar-height);
    max-width: 30vw;
    max-height: 70vh;
    padding: 20px;
}


